body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
}

.team-card {
    width: 60%;
    margin: fiftypx auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    color: #6f42c1;
}

h2 {
    color: #198754;
}

p {
    font-size: 18px;
    color: #333333;
}

button {
    background-color: #6f42c1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
